{% extends 'hospital/admin_base.html' %}
{% load static %}
{% block content %}
{%include 'hospital/admin_dashboard_cards.html'%}
<br><br><br><br>
<div class="container">
  <div class="row">
    <div class="panel panel-primary col-md-5" style="margin-left:2%;">
      <div class="panel-heading" style="text-align:center;">
        <h6 class="panel-title">Doctores recientes</h6>
      </div>
      <table class="table table-hover" id="dev-table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Rut</th>
            <th>Status</th>

          </tr>
        </thead>
        {% for d in doctors %}
        <tr>
          <td> {{d.get_name}}</td>
          <td>{{d.user.username}}</td>
          {%if d.status%}
          <td> <span class="label label-primary">Activo</span></td>
          {% else %}
          <td> <span class="label label-success">Inactivo</span></td>
          {% endif %}

        </tr>
        {% endfor %}
      </table>
    </div>

    <div class="panel panel-primary col-md-6" style="margin-left:5%;">
      <div class="panel-heading" style="text-align:center;">
        <h6 class="panel-title">Pacientes recientes</h6>
      </div>
      <table class="table table-hover" id="dev-table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Tipo de diabetes</th>
            <th>Rut</th>
            <th>Correo electrónico</th>
            <th>Status</th>

          </tr>
        </thead>
        {% for p in patients %}
        <tr>
          <td> {{p.get_name}}</td>
          <td>{{p.Type}}</td>
          <td>{{p.user.username}}</td>
          <td>{{p.email}}</td>
          {%if p.status%}
          <td> <span class="label label-primary">Activo</span></td>
          {% else %}
          <td> <span class="label label-success">Inactivo</span></td>
          {% endif %}

        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>


{% endblock content %}
