{% extends 'hospital/homebase.html' %}


{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hello, Patient</h1>
  <p class="lead">Bienvenido al Sistema De Visualización Datos Glícemicos</p>
  <hr class="my-4">
  <p>Podrás acceder apenas hayas iniciado sesión o registrado</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/patientsignup" role="button">Registrarse</a>
    <a class="btn btn-primary btn-lg" href="/patientlogin" role="button">Iniciar sesión</a>
  </p>
</div>

{% endblock content %}
