

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a target="_blank" rel="noopener noreferrer" />
                   Visualización datos glicémicos
                </a>
              </li>

            </ul>
          </nav>
          <div class="copyright float-right">
            &copy; <a target="_blank" rel="noopener noreferrer" />
                      
                      Programado por <a target="_blank" rel="noopener noreferrer" >Carolina Castillo Porras</a>
          </div>
        </div>
    </footer>
